<div class="container px-vw-5 py-vh-5">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-lg-5 text-center text-lg-end" data-aos="zoom-in-right">
      <span class="h5 text-secondary fw-lighter">What we charge</span>
      <h2 class="display-4">You get all our knowledge for one simple price</h2>
    </div>
    <div class="col-12 col-lg-7 bg-dark {% if rounded %}rounded-5{% endif%} py-vh-3 text-center my-5" data-aos="zoom-in-up">
      <h2 class="display-huge mb-5">
        <span class="fs-4 me-2 fw-light">$</span><span class=" border-bottom border-5">499</span><span class="fs-6 fw-light">/day</span></h2>
      <p class="lead text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="#" class="btn btn-xl btn-light">Sign up
        {% include 'svg/arrow-right-small.svg' %}</a>
    </div>
  </div>
</div>
