<li class="nav-item">
  <a class="nav-link fs-5" href="{{ 'index.html' | url }}" aria-label="Homepage">
    Home
  </a>
</li>
<li class="nav-item">
  <a class="nav-link fs-5" href="{{ 'content.html' | url }}" aria-label="A sample content page">
    Content
  </a>
</li>
<li class="nav-item">
  <a class="nav-link fs-5" href="{{ 'system.html' | url }}" aria-label="A system message page">
    System
  </a>
</li>
