<nav id="navScroll" class="navbar {% if darkMode %}navbar-dark{% endif %} {{navBg}} {% if stickyNav %}fixed-top{% endif %} px-vw-5"  tabindex="0">
  <div class="container">
    {% include 'snippets/navbar-brand.njk' %}
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 list-group list-group-horizontal">
      {% include 'snippets/navbar-content.njk' %}
    </ul>
      <a href="https://templatedeck.com/templates/klar" aria-label="Download this template" class="btn btn-outline-light">
        <small>Download Template</small>
      </a>
</div>
</nav>
