<div class="container px-vw-5">
  <div class="row d-flex gx-5 align-items-center">
    <div class="col-12 col-lg-6">
      <div class=" {% if rounded %}rounded-5{% endif%} bg-black p-5 shadow">
        <div class="fs-1">
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
        </div>
        <p class="text-secondary lead">"Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore et dolore magna aliqua ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <div class="d-flex justify-content-start  align-items-center border-top border-secondary pt-3">
          <img src="{{ './img/webp/person14.webp' | url }}" width="96" height="96" class="rounded-circle me-3" alt="a nice person" data-aos="fade" loading="lazy"/>
          <div>
            <span class="h6 fw-5">Jane Doemunsky</span><br/>
            <small class="text-secondary">COO, The Boo Corp.</small>
          </div>
        </div>
      </div>
      <div class="{% if rounded %}rounded-5{% endif%} bg-black p-5 shadow mt-5">
        <div class="fs-1">
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-half.njk" %}
        </div>
        <p class="text-secondary lead">"Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <div class="d-flex justify-content-start  align-items-center border-top border-secondary pt-3">
          <img src="{{ './img/webp/person13.webp' | url }}" width="96" height="96" class="rounded-circle me-3" alt="a nice person" data-aos="fade" loading="lazy"/>
          <div>
            <span class="h6 fw-5">Jane Doemunsky</span><br/>
            <small class="text-secondary">COO, The Boo Corp.</small>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-6">
      <div class="p-5 pt-0">
        <span class="h5 text-secondary fw-lighter">What others have to say</span>
        <h2 class="display-4">Invidunt ut labore et dolore magna aliquyam erat.</h2>
      </div>
      <div class="{% if rounded %}rounded-5{% endif%} bg-black p-5 shadow mt-5 gradient">
        <div class="fs-1">
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
          {% include "svg/bi-star-fill.njk" %}
        </div>
        <p class=" lead">"Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <div class="d-flex justify-content-start  align-items-center border-top pt-3">
          <img src="{{ './img/webp/person16.webp' | url }}" width="96" height="96" class="rounded-circle me-3" alt="a nice person" data-aos="fade" loading="lazy"/>
          <div>
            <span class="h6 fw-5">Jane Doemunsky</span><br/>
            <small>COO, The Boo Corp.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
