---
customFont: true
stickyNav: true
rounded: true
navBg: bg-black
bodyModifier: bg-black text-white
darkMode: true
---

<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body class="{{ bodyModifier }} {% if stickyNav %}mt-0{% endif %}" data-bs-spy="scroll"  data-bs-target="#navScroll">

    {% include "snippets/navbar1.njk" %}
    <main>
      {{ content | safe }}
    </main>

    {% include "snippets/" + footer + ".njk" %}
  </body>
</html>
