.vw-5 {
  height:5vw;
}

.vw-10 {
  height:10vw;
}

.vw-20 {
  height:20vw;
}

.vw-25 {
  height:25vw;
}

.vw-33 {
  height:33vw;
}

.vw-50 {
  height:50vw;
}

.vw-66 {
  height:66vw;
}

.vw-75 {
  height:75vw;
}

.vw-100 {
  height:100vw;
}
