---
title: Klar HTML Template - Frontpage one
layout: layouts/blank.njk
footer: footer10
navBg:
permalink: hk.html
pagination:
    data: collections.posts
    size: 5
    reverse: true
    alias: posts
---
<div class="container-fluidh-100  d-flex w-100 h-100 p-3 mx-auto flex-column">
<div class="row h-100 px-vw-5 py-vh-3">
  <div class="mb-auto col-12">
    <div class="fs-5 text-secondary">Holger Koenemann</div>
  </div>
  <div class="align-self-center col-12 col-xl-8">
    <div class="display-1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
  <div class="align-self-end col-12 h4 fw-lighter lh-2">
    <a href="#" class="link-secondary">Twitter</a><br/>
    <a href="#" class="link-secondary">Blog</a><br/>
    <a href="#" class="link-secondary">GitHub</a><br/>
    <a href="#" class="link-secondary">Behance</a><br/>
  </div>
</div>
</div>
