---
title: Klar HTML Template - Frontpage one
layout: layouts/default.njk
footer: footer1
navBg:
pagination:
    data: collections.posts
    size: 5
    reverse: true
    alias: posts
---
<div class="w-100 overflow-hidden position-relative bg-black text-white">
  <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"></div>
  {% include "snippets/hero2.njk" %}
</div>

<div class="w-100 position-relative bg-black text-white bg-cover d-flex align-items-center">
  <div class="container-fluid px-vw-5">
    <div class="position-absolute w-100 h-50 bg-dark bottom-0 start-0"></div>
    <div class="row d-flex align-items-center position-relative justify-content-center px-0 g-5">
      <div class="col-12 col-lg-6">
        <!-- office 103, 101, 105 -->
        <img src="/img/webp/abstract18.webp" width="2280" hight="1732" alt="abstract image" class="img-fluid position-relative {% if rounded %}rounded-5{% endif%} shadow">
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/img/webp/abstract6.webp" width="1116" hight="1578" alt="abstract image" class="img-fluid position-relative {% if rounded %}rounded-5{% endif%} shadow">
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/img/webp/abstract9.webp" width="1116" hight="848" alt="abstract image" class="img-fluid position-relative {% if rounded %}rounded-5{% endif%} shadow">
      </div>
    </div>
  </div>
</div>
<div class="bg-dark">
  <div class="container px-vw-5 py-vh-5">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-7 text-lg-end">
        <h5 class="text-secondary fw-lighter">What we do</h5>
        <h2 class="display-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h2>
      </div>
      <div class="col-12 col-lg-5">
        <h3 class="pt-5">Product Design & Strategy</h3>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br/>
          <a href="#" class="link-fancy link-fancy-light me-2">Tell me more</a>
          {% include 'svg/arrow-right-circle.svg' %}</p>
        <h3 class="border-top border-secondary pt-5 mt-5">Development & Engineering</h3>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br/>
          <a href="#" class="link-fancy link-fancy-light me-2">Tell me more</a>
          {% include 'svg/arrow-right-circle.svg' %}</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-black py-vh-3">
  {% include "snippets/articles1.njk" %}
</div>
<div class="bg-dark position-relative">
  <div class="container px-vw-5 py-vh-5">
    <div class="row d-flex align-items-center">

      <div class="col-12 col-lg-7">
        <img class="img-fluid rounded-5 mb-n5 shadow" src="img/webp/person9.webp" width="512" hight="512" alt="a nice person" loading="lazy">
        <img class="img-fluid rounded-5 ms-5 mb-n5 shadow" src="img/webp/person11.webp" width="512" hight="512" alt="another nice person" loading="lazy">
      </div>
      <div class="col-12 col-lg-5 bg-dark rounded-5 py-5">
        <h5 class="text-secondary fw-lighter">Do you like faces?</h5>
        <h2 class="display-4">We constantly adding new images to our website. Does it make sense? No!</h2>
      </div>
    </div>
  </div>
</div>
</div>
<div class="bg-black">
{% include "snippets/cta1.njk" %}
</div>
<div class="container-fluid px-vw-5 position-relative">
<div class="position-absolute w-100 h-50 bg-black top-0 start-0"></div>
<div class="position-relative py-vh-5 bg-cover bg-center {% if rounded %}rounded-5{% endif%}" style="background-image: url(img/webp/abstract12.webp)">
  {% include 'snippets/numbers1.njk' %}
</div>
</div>
<div class="bg-dark py-vh-5">
{% include "snippets/testimonials1.njk" %}
</div>
