---
title: Register a new account
layout: layouts/system.njk
colorModifier: dark
permalink: system.html
bodyModifier: d-flex h-100 w-100 bg-black text-white
bgimg: abstract7
---

<form class="row">
  <div class="col-12">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check py-3">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">If you really don´t want any newsletter <strong>check this box</strong>. Then you just agree to receive our marketing mails and product stuff. If you check this box <strong>we will not send out our newsletter</strong> to you at all...on mondays.</label>
  </div>
  <button type="submit" class="btn btn-white btn-xl mb-4">Submit</button>
</div>
</form>
